.container-nav {
  width: 100%;
  height: 56px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.container-nav img {
  transition: all ease-in-out 0.2s;
}

.container-nav img:hover {
  transform: translateY(3px);
}

.category-selected-nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-selected-nav img {
  width: 24px;
}

.category-selected-nav a span {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  color: #1b4b66;
  transition: all ease-in-out 0.2s;
}

@media screen and (min-width: 620px) {
  .container-nav {
    display: none;
  }
}
