.page-wrapper-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffff;
  width: 100%;
  max-width: 1280px;
  height: 80px;
  flex-direction: row;
  padding: 0 20px;
}

.logo-header {
  width: 108px;
  height: 22px;
  margin-right: 32px;
}

.logo-header img {
  transition: all ease-in-out 0.2s;
}

.logo-header img:hover {
  transform: scale(1.05);
}

.nav-category-header ul {
  list-style-type: none;
  display: flex;
  width: 391px;
  height: 18px;
  gap: 20px;
}

.nav-category-header a {
  display: block;
  text-decoration: none;
  padding: 0 5px;
  position: relative;
  color: #171520;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.nav-category-header a:hover {
  color: #1b4b66;
}

.nav-category-header a::after {
  content: "";
  position: absolute;
  background-color: #1b4b66;
  width: 0;
  height: 3px;
  left: 0;
  bottom: -6px;
  transition: all 0.3s ease-in-out;
}

.nav-category-header a:hover::after {
  width: 100%;
}

.search-bar-header {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 362px;
  height: 44px;
  margin-left: 211px;
  position: relative;
}

.search-bar-header input[type="search"] {
  position: relative;
  background-position: 8px;
  padding: 13px 20px 13px 40px;
  border: none;
  width: 100%;
  min-width: 258px;
  height: 44px;
  border-radius: 4px;
  color: #626262;
  background-color: #f1f1f1;
  transition: all ease-in-out 0.2s;
}

.search-bar-header input[type="search"]:hover,
.search-bar-header input[type="search"]:focus {
  background-color: #dfdfdf;
}

.lupa-redirect {
  background: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1002;
}

.icons-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 114px;
  height: 24px;
  align-items: center;
  position: relative;
}

.button-get-started-header {
  min-width: 100px;
  min-height: 42px;
  max-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #1b4b66;
  padding: 1%;
  border-radius: 10px;
  font-size: 14px;
}

.icons-header button,
.icons-responsivo button {
  background-color: transparent;
  border: none;
  transition: all ease-in-out 0.2s;
}

.icons-header a,
.icons-responsivo a {
  transition: all ease-in-out 0.2s;
}

.icons-header a:nth-child(3) {
  z-index: 998;
}

.container-bag-icon {
  z-index: 998;
  width: 10px;
  height: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px;
  border-radius: 50%;
  position: absolute;
  top: -11px;
  right: -7px;
}

.container-header-responsivo {
  display: none;
}

.modal-mybag-header {
  z-index: 998;
  position: absolute;
  top: 80px;
  right: 10px;
  width: 394px;
  height: 700px;
  background-color: white;
}

.mybag-btnh2-header {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
}

.mybag-btnh2-header img {
  transform: rotate(180deg);
}

.mybag-btnh2-header button {
  margin-left: 27.5px;
  border: none;
  background-color: transparent;
}

.mybag-btnh2-header h2 {
  margin-left: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.max-product-header {
  overflow: auto;
  max-height: 310px !important;
}

.mybag-container-product-header {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  justify-content: space-evenly;
}

.img-product-mybag-header img {
  border-radius: 8px;
  width: 75px;
  height: 80px;
}

.Trending-modal-bag {
  position: relative;
  background-color: #ff8c4b;
  color: white;
  width: 53px;
  height: 22px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}

.desc-product-mybag-header p {
  margin-bottom: 8px;
  font-size: 16px;
  font-style: normal;
}

.box-counter-product-header {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--primary, #1b4b66);
  border-radius: 4px;
  width: 73px;
  justify-content: center;
  align-items: center;
}

.box-counter-product-header button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 20px;
  width: 14px;
}

.box-counter-product-header input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 24px;
  text-align: center;
  border: none;
  background-color: transparent;
}

.price-product-header {
  max-width: 48px;
  max-width: 80px;
}

.price-product-header button {
  border: none;
  background-color: transparent;
  margin-left: 33px;
}

.price-product-header p {
  margin-top: 37px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.line-product-header {
  margin-top: 45px;
  width: 359px;
  margin-left: 10px;
}

.total-price-header {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.total-price-header p {
  margin-bottom: 12px;
}

.total-price-header p:last-child {
  margin-bottom: 0px;
}

.txt-price-header {
  margin-left: 19px;
}

.sub-tax-header {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.final-price-header {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.prices-header {
  text-align: end;
  margin-right: 13px;
}

.container-btns-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-btns-header p {
  margin-top: 34px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
  color: #1b4b66;
  cursor: pointer;
}

.coupon-header {
  width: 360px;
  height: 56px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  border-radius: 3px;
}

.coupon-header input {
  width: 90%;
  border: none;
  background: transparent;
  padding-left: 16px;
}

.coupon-header button {
  margin-right: 12px;
}

.order-btn-header {
  display: flex;
  width: 360px;
  padding: 10px 120px;
  justify-content: center;
  align-items: center;
  background-color: #1b4b66;
  color: white;
  border-radius: 8px;
  margin-top: 24px;
}

@media (max-width: 820px) {
  .logo-header,
  .nav-category-header ul,
  .search-bar-header input[type="search"],
  .icons-header,
  #lupa-id,
  .search-bar-header {
    display: none;
  }

  .logo-menu {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }

  .logo-menu h1 {
    color: #1b4b66;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .logo-menu button {
    border: none;
    background-color: transparent;
    transition: all ease-in-out 0.2s;
  }

  .logo-menu button:hover {
    transform: scale(1.1);
  }

  #menu {
    width: 24px;
    height: 24px;
  }

  .container-header-responsivo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .icons-responsivo {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .button-get-started-header {
    min-width: 80px;
    min-height: 30px;
    font-size: 12px;
  }

  .icons-responsivo span {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
}

@media (max-width: 1150px) {
  .search-bar-header {
    margin-left: 100px;
  }
}

@media (max-width: 1050px) {
  .search-bar-header {
    margin-left: 5px;
  }

  .nav-category-header ul {
    gap: 5px;
  }

  .search-bar-header input[type="search"] {
    min-width: 100px;
  }
}

.modal-brackground {
  background-color: #0000004d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  height: 100vh;
  min-height: 1000px;
}
