.productIn {
  background-color: rgb(255, 220, 173);
  /* background-color: #f4f4f4; */
}

.container-title-mybag {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-title-mybag img {
  margin: 16px;
}

.container-title-mybag h3 {
  margin-left: 4px;
}

.showProduct {
  height: 369px;
}

.coupon-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 328px;
  height: 46px;
  border-radius: 4px;
  background-color: white;
  margin-top: 24px;
  margin-left: 16px;
}

.coupon-input button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-right: 12px;
}

.coupon-input input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-left: 16px;
}