.productIn {
  background-color: #f4f4f4;
}

.container-title-mybag {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-title-mybag img {
  margin: 16px;
}

.container-title-mybag h3 {
  margin-left: 4px;
}

.showProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  height: 369px;
  max-height: 369px !important;
}

.coupon-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 24px;
  width: 328px;
  height: 46px;
  border-radius: 4px;
  background-color: white;
}

.coupon-input button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-right: 12px;
}

.coupon-input input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-left: 16px;
}

.img-circles {
  position: absolute;
  top: 420px;
  height: 16px;
  width: 100%;
  background-image: url("../../../assets/Img/Ellipse 23.svg");
  background-repeat: repeat-x;
}

.order-details {
  margin: 40px 16px 0 16px;
  font-size: 14px;
}

.order-details p {
  margin-top: 8px;
}

.price-details {
  display: flex;
  justify-content: space-between;
}

.confirm-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 120px;
}

.confirm-details button {
  background-color: #1b4b66;
  color: white;
  padding: 0px 60px;
  border-radius: 8px;
}
