.header-add-address {
  display: flex;
  align-items: center;
}

.header-add-address img {
  justify-content: center;
  align-items: center;
  margin: 16px;
  transform: rotate(180deg);
}

.header-add-address h1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.info-add-address {
  display: flex;
  flex-direction: column;
}

.info-add-address p {
  margin: 8px auto 0 auto;
  width: 90%;
}

.line-add-address {
  margin: 8px auto 16px auto;
  width: 90%;
}

.info-add-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info-add-address select {
  background-color: rgb(146, 127, 100);
  border-radius: 4px;
  margin-bottom: 16px;
  width: 90%;
  height: 42px;
}

.inputs-info-add-address {
  background-color: rgb(146, 127, 100);
  border-radius: 4px;
  margin-bottom: 16px;
  width: 90%;
  height: 42px;
}

.container-phone-add-address {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.small-input-add-address {
  width: 13%;
  height: 42px;
  background-color: aquamarine;
}

.medium-input-add-address {
  background-color: chartreuse;
  width: 82%;
  height: 42px;
}

.div-buttons-add-address {
  display: flex;
  width: 90%;
  justify-content: flex-start;
}
.div-buttons-add-address button {
  background-color: royalblue;
  padding: 7px 2%;
  margin-left: 8px;
}

.checkbox-add-address {
  display: flex;
}

.checkbox-add-address button {
  border: 1px solid black;
}
