.container-refer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-Refer {
    width: 239px;
    height: 239px;
    margin-top: 65px;
}

.text-one p {
    width: 228px;
    height: auto;
    margin-top: 17px;
    color: #171520;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;

}



#code-text {
    width: 240px;
    height: 40px;
    border: 2px dashed #1B4B66;
    margin-top: 20px;
    border-radius: 8px;
    background: #F9F9F9;
}

.text-two {
    width: 166px;
    height: 16px;
    font-weight: 500;
    color: #626262;
    margin-top: 7px;
    display: flex;
    justify-content: center;
    font-size: 13px;
    text-align: center;

}



.text-three {
    width: 335px;
    height: 16px;
    font-weight: 600;
    color: #171520;
    margin-top: 32px;
    text-align: left;
}

.box-text {
    width: 324px;
    color: #626262;
    font-weight: 500;
    margin-top: 8px;
    font-size: 14px;
    display: block;


}

.box-text li {
    margin-top: 10px;
    margin-left: 15px;
    list-style: disc;

}

.button-invite {
    margin-top: 50px;
    width: 328px;
    height: 44px;
    background-color: #1B4B66;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 11px;

}

.refer-h1 {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0 0 36px !important;
    line-height: 26px;
    color: #1b4b66;
    display: block !important;

}