@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacity-0 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes open {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes close {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-300px);
  }
}

@keyframes open-modal {
  from {
    transform: translateX(-600px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes close-modal {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-750px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  border: none;
}

li {
  list-style: none;
}