.page-wrapper-profile {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  display: table;
  background-color: #fff;
  position: relative;
  padding-bottom: 60px;
  margin: 0 auto;
}

.main-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-wrapper-profile h1,
.page-wrapper-profile span {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #1b4b66;
  padding: 23px;
}

.container-info-profile {
  width: 328px;
  height: 112px;
  border-radius: 8px;
  background: #f1f1f1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.container-info-profile img:first-child {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container-info-profile p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #171520;
}

.container-info-profile p:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #7e7e7e;
}

.container-info-profile p:nth-child(3) {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #7e7e7e;
}

.container-info-profile img:last-child {
  padding-left: 25px;
}

.categories-page-profile {
  width: 100%;
  max-width: 520px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 12px 16px 0 8px;
}

.categories-page-profile h2 {
  color: #626262;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.categories-page-profile ul {
  padding-bottom: 16px;
}

.categories-page-profile ul li a {
  display: flex;
  height: 60px;
  padding: 16px 0 0 9px;
  justify-content: space-between;
}

.categories-page-profile ul li a label {
  color: #171520;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.categories-page-profile ul li a img {
  max-width: 24px;
  max-height: 24px;
}

.button-logout-profile {
  width: 328px;
  height: 44px;
  border: 2px #1b4b66 solid;
  background-color: #fff;
  border-radius: 8px;
  margin: 45px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}

.button-logout-profile:hover {
  background-color: #c0e3ff;
  transform: translateY(3px);
}

.main-profile span,
.container-addres-profile {
  display: none;
}

#button-logout-desktop-profile {
  display: none;
}

#button-logout-mob-profile {
  display: flex;
}

@media screen and (min-width: 820px) {
  .container-addres-profile {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 27px;
    gap: 20px;
  }

  .title-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #button-logout-desktop-profile {
    display: flex;
    width: 136px;
    height: 40px;
    padding: 8px;
    border: 1px solid #1b4b66;
    margin-right: 23px;
  }

  #button-logout-mob-profile {
    display: none;
  }

  .page-wrapper-profile h1:nth-child(1) {
    display: none;
  }

  .main-profile span {
    display: block;
    font-size: 34px;
    width: 100%;
  }
}
