.img-product-home {
  margin: 0 10px;
  height: 202px;
}

.btn-up-modal {
  background-color: transparent;
}

.img-product-home-button {
  background-color: #fff;
}

.Trending-product-home {
  position: relative;
  left: 90px;
  bottom: 120px;
  background-color: #ff8c4b;
  color: white;
  width: 53px;
  height: 22px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}

@media screen and (min-width: 820px) {
  .img-product-home {
    min-width: 284px;
    height: 400px;
  }

  .img-product-home img:first-child {
    width: 286px;
    height: 286px;
  }

  .text-product-home {
    gap: 6px;
  }

  #imgHeartID {
    font-size: 24px;
    padding: 0;
  }

  .Trending-product-home {
    position: relative;
    left: 170px;
    bottom: 260px;
    background-color: #ff8c4b;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
  }
}
