.img-product-home {
  margin: 0 10px;
  height: 202px;
}

.img-product-home-button {
  max-width: max-content;
  max-height: 24px;
  display: grid;
  place-items: center;
  background-color: transparent;
}

#imgHeartID {
  font-size: 16px;
  padding: 0;
  color: #1b4b64;
}



@media screen and (min-width: 820px) {
  .img-product-home {
    min-width: 284px;
    height: 400px;
  }

  .img-product-home img:first-child {
    width: 286px;
    height: 286px;
  }

  .text-product-home {
    gap: 6px;
  }

  #imgHeartID {
    font-size: 24px;
    padding: 0;
  }
}