.page-wrapper-myorders {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
  flex-direction: column;
}

.container-tab-state {
  width: 100%;
  height: 36px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  margin-top: 15px;
  padding: 4px;
  justify-content: space-around;
  cursor: pointer;
}

.content-tab-state {
  width: 100%;
  margin: 0 5px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #626262;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.container-orders {
  width: 100%;
  margin-top: 28px;
}

.container-orders p {
  width: 100%;
  color: #626262;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.card-order {
  width: 100%;
  height: 104px;
  background-color: #f1f1f1;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  cursor: pointer;
}

.card-order img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.text-card-order {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-card-order span:nth-child(1) {
  color: #7e7e7e;
  font-size: 12px;
  font-weight: 500;
  line-height: 23px;
}

.text-card-order span:nth-child(2),
.text-card-order span:nth-child(3) {
  color: #171520;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (min-width: 820px) {
  .container-tab-state {
    height: 68px;
    align-items: center;
    justify-content: start;
    margin-top: 0;
  }

  .content-tab-state {
    width: 121px;
    height: 44px;
  }

  .page-wrapper-profile .content-tab-state span {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
  }

  .text-card-order {
    flex-direction: row;
  }

  .text-card-order span:nth-child(1) {
    order: 2;
  }

  .text-card-order span:nth-child(2) {
    order: 1;
    min-width: 126px;
  }

  .text-card-order span:nth-child(3) {
    order: 3;
    min-width: 86px;
  }

  .text-card-order span:nth-child(4) {
    order: 4;
    color: #1b4b66;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
}
