.Window-modalSearch {
  position: absolute;
  z-index: 1001;
  height: 800px;
  width: 100%;
  background-color: rgb(255, 177, 177);
}

.bar-modalSearch {
  display: flex;
  margin: 16px;
  justify-content: space-around;
}

.bar-modalSearch button {
  background: transparent;
  transform: rotate(180deg);
}

.bar-modalSearch input[type="search"] {
  background: url("../../assets/imgHeader/search.svg") no-repeat;
  background-position: 95%;
  padding: 13px 15% 13px 15px;
  border: none;
  width: 90%;
  min-width: 258px;
  height: 44px;
  border-radius: 4px;
  color: #626262;
  background-color: #f1f1f1;
  transition: all ease-in-out 0.2s;
}

.bar-modalSearch input[type="search"]:hover,
.bar-modalSearch input[type="search"]:focus {
  background-color: #dfdfdf;
}

.title-modalSearch {
  margin-left: 16px;
  margin-bottom: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.title-modalSearch:first-child {
  margin-left: 16px;
  margin-bottom: 13px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.recent-searchs-modalSearch {
  max-width: 330px;
}

.recent-searchs-modalSearch p {
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 8px;
  background: #f4f4f4;
  margin-right: 7px;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.newArrives-modalSearch {
  margin-top: 20px;
  margin-left: 16px;
}

.recomend-products-modalSearch {
  display: flex;
  max-height: 300px;
  overflow-x: auto;
}

.recomend-products-modalSearch img {
  width: 136px;
  height: 138px;
  flex-shrink: 0;
  margin-right: 16px;
  border-radius: 6px;
  margin-bottom: 8px;
}
