.wishlist-btn-empty-products {
  display: none;
}

.wishlist-head div {
  display: none;
}

.wishlist-head h1 {
  color: #1b4b66;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  padding: 0;
  display: block;
}

@media (min-width: 320px) {
  .wishlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .wishlist-head {
    display: none;
  }

  .wishlist-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .wishlist p {
    color: #626262;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    margin-top: 8px;
  }

  .wishlist-container-products {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 8px 16px;
  }

  .wishlist-container .wishlist-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 285px;
    align-items: center;
    gap: 16px;
  }

  .wishlist-container .wishlist-content h2 {
    color: #13101e;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 26px;
  }

  .wishlist-container .wishlist-content p {
    color: #13101e;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }

  .wishlist-btn-empty-products {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 11px 16px;
    margin-top: 220px;
  }

  .wishlist-btn-empty-products button {
    width: 328px;
    display: grid;
    place-items: center;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #1b4b66;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
  }

  #hearthId {
    margin-top: 81px;
  }

  .card-wishlist {
    width: 150px;
    height: 264px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .arrival-content-wishlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  .button-wishlist {
    position: absolute;
    right: 0;
    background-color: transparent;
  }

  .text-product-wishlist {
    display: flex;
    flex-direction: column;
  }

  .text-product-wishlist span:nth-child(1) {
    color: #171520;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding: 0;
  }

  .text-product-wishlist span:nth-child(2) {
    color: #626262;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 0;
  }

  .text-product-wishlist span:nth-child(3) {
    color: #171520;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    line-height: 16px;
  }

  .box-price {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .box-price h3 {
    color: #171520;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }

  .box-price h4 {
    color: #626262;
    font-size: 8px;
    font-weight: 500;
    line-height: 16px;
    text-decoration-line: line-through;
  }

  .box-price h5 {
    color: #e21d1d;
    font-size: 8px;
    font-weight: 500;
    line-height: 16px;
  }

  .card-wishlist .button-bag-wishlist {
    display: flex;
    width: 151px;
    height: 36px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid #1b4b66;
    background: #fff;

    color: #1b4b66;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
  }
}

.Trending-wishlist {
  position: absolute;
  background-color: #ff8c4b;
  color: white;
  width: 63px;
  padding: 4px 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.wishlist-btn-empty-products {
  display: none;
}

.wishlist-head {
  width: 100%;
  display: flex;
  padding: 15px 16px;
  gap: 20px;
  align-items: center;
}

.wishlist-head button {
  width: 24px;
  height: 24px;
  display: block;
  rotate: 90deg;
  background-color: transparent;
  border: none;
}

.wishlist {
  width: 93%;
  margin-left: 36px;
}

.wishlist-head {
  width: 100%;
  display: flex;
  padding: 0;
  padding-top: 20px;
  gap: 20px;
}

.wishlist-container-products {
  padding-top: 15px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.wishlist-loader {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width>=820px) {
  .box-price h3 {
    font-size: 16px;
  }

  .box-price h4,
  .box-price h5 {
    font-size: 10px;
  }
}
